header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.8rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 2022;
  .container {
    @include flex(row, center, space-between);
  }
  .logo {
    display: inline-block;
    width: 13.2rem;
    height: 3rem;
    background: url("../assets/img/logo.svg") no-repeat center center;
    background-size: 100%;
    transition: background-image 0.3s;
  }
  &.fixed-menu {
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);

    .logo {
      background-image: url("../assets/img/logo-neon-azul.svg");
    }
    nav {
      ul {
        li {
          a {
            color: #5f5c6b;
            &:hover {
              color: #00a5f0;
            }
          }
        }
      }
      .btn-secondary {
        color: #00a5f0;
        border: 1px solid #00a5f0;
        &:hover {
          background-color: #00a5f0;
          color: #ffffff;
        }
      }
    }
  }

  nav {
    position: relative;
    display: flex;
    align-items: center;
    .dropdown {
      position: absolute;
      top: 4.9rem;
      left: -13rem;
      width: 100%;
      max-width: 37.3rem;
      background: #ffffff;
      border-radius: 0.6rem;
      padding: 4rem;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
      transform: translateY(2rem);
      transition: all 0.3s;
      border: 0.5px solid rgba(0, 0, 0, 0.096);
      &.active {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0rem);
      }
      &:after {
        position: absolute;
        bottom: 0;
        content: "";
        width: 29.3rem;
        height: 0.5rem;
        background-color: #ffc800;
        border-radius: 1.2rem 1.2rem 0rem 0rem;
      }
      .item {
        cursor: pointer;
        &:not(:last-child) {
          margin-bottom: 2.8rem;
        }
        &:hover {
          strong {
            color: #0073ce;
          }
        }
        strong {
          display: block;
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 1.9rem;
          color: #5f5c6b;
          margin-bottom: 0.4rem;
          transition: color 0.3s;
        }
        p {
          font-size: 14px;
          line-height: 150%;
          color: #8c8a97;
        }
      }
    }
    ul {
      display: flex;
      align-items: center;
      margin-right: 5.9rem;
      li {
        &:not(:first-child) {
          margin-left: 4.8rem;
        }
        a {
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 125%;
          text-align: center;
          color: white;
          transition: color 0.3s;
          &:hover {
            color: $brand-yellow;
          }
        }
      }
    }
    .btn-mobile {
      display: none;
    }
  }
  @include responsive(1085px) {
    nav {
      ul {
        margin-right: 3rem;
        li {
          &:not(:first-child) {
            margin-left: 2.5rem;
          }
        }
      }
    }
  }

  @include responsive(991px) {
    .logo {
      max-width: 108px;
    }
    nav {
      ul {
        display: none;
      }
      .btn-mobile {
        display: block;
        margin-left: 4rem;
      }
    }
  }

  @include responsive(480px) {
    height: 7.3rem;
    nav {
      .btn-secondary {
        display: none;
      }
    }
  }

}

.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2022;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2022;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
  aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: #ffffff;
    padding: 3rem;
    transform: translateX(-100%);
    transition: transform .3s;
    .logo{
    max-width: 15rem;
    margin-bottom: 4rem;
    }
    ul{
      li{
        a{
          padding: 1.5rem;
          display: block;
          font-size: 1.8rem;
          color: #5f5c6b;
        }
      }
    }
  }
}

.menu-opened{
  overflow: hidden;
  .menu-mobile{
    opacity: 1;
    pointer-events: all;
    aside{
      transform: translateX(0%);
    }
  }
}
